@charset "utf-8";

/********** Global **********/
html, body {
	width:100%;
	height:100%;
	font-family:"microsoft yahei", arial, sans-serif;
	background-color:#0b0f34;
	overflow-x:hidden;
	overflow-y:auto;
}
body {margin:0 auto;min-width:375px;max-width:1920px;}

/********** Layout **********/
.header {position:relative;height:48px;box-sizing:border-box;background:url("../img/header.png") 0 0 / 100% 100% no-repeat;}
.header-title {
	margin:0;
	padding:0;
	line-height:28px;
	text-align:center;
	font-size:22px;
	font-weight:800;
	color:#e9c29d;
}

.header-info {position:absolute;top:16px;font-size:14px;color:#73aae5;}
.header-info-l {left:18px;}
.header-info-r {right:18px;}

#footer {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	height:28px;
	background:url("../img/user/footer.png") 0 0 / 100% 100% no-repeat;
}

.wrapper {
	position:absolute;
	top:36px;
	bottom:10px;
	left:10px;
	right:10px;
	padding:10px 10px 0 10px;
	min-height:500px;
	background-size:100% 100%;
	box-sizing:border-box;
}
/* PC */
@media (max-width:1919px) {
	.header {height:46px;}
	.header-title {line-height:28px;font-size:22px;}
	.wrapper {top:24px;}
}
/* Mobile */
@media (max-width:1279px) {
	.header-title {max-width:96%;}
	.wrapper {background:none;}
}

/********** Content **********/
.content {
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	padding:25px 15px;
	height:100%;
	min-height:100%;
	box-sizing:border-box;
}
.col {margin:0 5px;height:100%;}
.col-l {-webkit-flex:3;-ms-flex:3;flex:3}
.col-c {-webkit-flex:4;-ms-flex:4;flex:4;}
.col-r {-webkit-flex:3;-ms-flex:3;flex:3;}
/* PC */
@media (max-width:1919px) {
	.content {padding:5px 0;}
}
/* Mobile */
@media (max-width:1279px) {
	.content {
		-webkit-flex-direction:column;
		-ms-flex-direction:column;
		flex-direction:column;
	}
	.col {margin:5px 0;}
	.col-l, 
	.col-c, 
	.col-r {-webkit-flex:none;-ms-flex:none;flex:none;}
}

.xpanel-wrapper {padding-bottom:10px;box-sizing:border-box;position:relative;height:100%;}
.xpanel-wrapper {height:100%;}
.xpanel-wrapper-25 {height:25%;}
.xpanel-wrapper-30 {height:30%;}
.xpanel-wrapper-40 {height:40%;}
.xpanel-wrapper-45 {height:45%;}
.xpanel-wrapper-50 {height:50%;}
.xpanel-wrapper-60 {height:60%;}
.xpanel-wrapper-75 {height:75%;}
.xpanel-wrapper-70 {height:70%;}
.xpanel {
	height:100%;
	min-height:100px;
	background-repeat:no-repeat;
	background-size:100% 100%;
	box-sizing:border-box;
}
.xpanel-l-t {background:url("../img/chart_bg.png") 0 0 / 100% 100% no-repeat;}
.xpanel-l-b {background:url("../img/chart_bg.png") 0 0 / 100% 100% no-repeat;}
.xpanel-c-b {
	padding-top: 1px;

	background:url("../img/chart_bg.png") 0 0 / 100% 100% no-repeat;
}
.xpanel-r-t {background:url("../img/chart_bg.png") 0 0 / 100% 100% no-repeat;}
.xpanel-r-m {background:url("../img/chart_bg.png") 0 0 / 100% 100% no-repeat;}
.xpanel-r-b {background:url("../img/chart_bg.png") 0 0 / 100% 100% no-repeat;}
/*.xpanel .title {*/
/*	padding-left:24px;*/
/*	height:24px;*/
/*	line-height:44px;*/
/*	font-size:24px;*/
/*	font-weight:normal;*/
/*	color:#fff;*/
/*	background-image:url("../img/title_bg.png");*/
/*	background-repeat:no-repeat;*/
/*	background-size:100% 100%;*/
/*}*/

/* PC */
@media (max-width:1919px) {
	.xpanel .title {height:24px;line-height:normal;font-size:16px;}
}

.xpanel .title-long {
	height: 24px;
	width: 100%;
	/*line-height: 16px;*/
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	background: url("../img/title_bg.png") 0 0 / 100% 100% no-repeat;
	padding-top: 2px;
	margin: 4px 16px 0px 16px;

	overflow: hidden;
	text-align: center;


}


/* tool */
.fill-h {height:100% !important;min-height:100% !important;}
.no-margin {margin:0 !important;}
.no-padding {padding:0 !important;}
.no-bg {background:none !important;}
.no-border {border:0 !important;}

/* scrollbar */
::-webkit-scrollbar {width:0;height:0;}
::-webkit-scrollbar-track {background-color:transparent;}
::-webkit-scrollbar-thumb {border-radius:5px;background-color:rgba(0, 0, 0, 0.3);}

/* chart-div */
.chart-div {position:absolute;top:10px;bottom:0;left:0;right:0;height:88%;width: 100%;}




/* chart-loader */
.chart-loader {
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	width:100%;
	height:100%;
	background:rgba(255, 255, 255, 0);
	transition:all .8s;
}
.chart-loader .loader {
	position:absolute;
	left:50%;
	top:50%;
	width:60px;
	height:60px;
	margin:-30px 0 0 -30px;
	border:3px solid transparent;
	border-top-color:#3498db;
	border-radius:50% !important;
	-webkit-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;
}
.chart-loader .loader:before {
	content:"";
	position:absolute;
	top:3px;
	left:5px;
	right:5px;
	bottom:5px;
	border:3px solid transparent;
	border-top-color:#e74c3c;
	border-radius:50% !important;
	-webkit-animation:spin 3s linear infinite;
	animation:spin 3s linear infinite;
}
.chart-loader .loader:after {
	content:"";
	position:absolute;
	top:9px;
	left:10px;
	right:10px;
	bottom:10px;
	border:3px solid transparent;
	border-top-color:#f9c922;
	border-radius:50% !important;
	-webkit-animation:spin 1.5s linear infinite;
	animation:spin 1.5s linear infinite;
}
.chart-done .chart-loader {display:none;}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg)
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

/* data-t */
.data-t {table-layout:fixed;width:100%;height:100%;border-collapse:collapse;margin-left: 40px;}
.data-t tr {padding: 0 30px;}
.data-t td {min-height:48px;}
.data-t th {width:60px;text-align:center;background:url("../img/user/icon-bg.png") center / 100% no-repeat;}
.data-t th img {width:30px;height:30px;}
.data-t td {padding-left:8px;}
.data-t p {margin:5px 0;line-height:1;font-size:14px;color:#b0c2f9;}
.data-t p span {font-size:30px;font-weight:bold;color:#fff;}


.persona-info{
	padding: 30px 35px;
	color:#fff;
	font-size: 16px;
}


#gender{
	margin-top: -15px;
}
#gender .data-t th{
	background: none;
	padding:0 0 0 10px;
}
#gender .data-t td{
	padding-left: 2px;
}
#gender .data-t p{
	margin:0;
}
#gender .data-t p span{
	font-size: 20px; color: #fff;
}

.hide{
	opacity: 0;
}

/* interactive items */
.selector {
	float: right;
	margin-top: 0;
}

.page_a {
    color:white;
    text-decoration:underline;
}
.page_a:hover{
    color:#73aae5;
}