<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>电商数据分析大屏首页</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/user.css')}}" />

</head>

<body>
    <header id="header">
        <h3 class="header-title">电商数据分析大屏</h3>
        <div class="header-info header-info-l">数据来源：淘宝</div>
        <div class="header-info header-info-r">数据日期：<span id="nowDate"></span></div>
    </header>
    <footer id="footer"></footer>
    <div id="container">
        <div id="flexCon">
            <div class="flex-row" style="margin-bottom: -20px">
                <div class="flex-cell flex-cell-l">
                    <div class="chart-wrapper">
                        <div class="chart-div  chart-div-bg" style="height: 333px" >
                            <div class="chart-loader">
                                <div class="chart-title" style="margin-top: -22px"> <a href="item/" class="page_a">Top5转化率商品</a></div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>序号</th>
                                            <th>品类</th>
                                            <th>销量</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>衣服</td>
                                            <td>26,654,546</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>食物</td>
                                            <td>11,776,645</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>百货</td>
                                            <td>7,776,885</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>美妆</td>
                                            <td>5,744,744</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>电子产品</td>
                                            <td>3,575,567</td>
                                        </tr>
                                        <tr>
                                            <td style="color:#00A9E4">汇总</td>
                                            <td></td>
                                            <td style="color:#00A9E4">55,538,387</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-cell flex-cell-c">
                    <div class="flex-row" style="height:180px;margin-bottom: -5px">
                        <div class="flex-cell-l">
                            <div class="chart-wrapper">
                                <div class="chart-div chart-div-bg">
                                    <div class="chart-loader">
                                        <div class="textSpan">点击</div>
                                        <div class="numberSpan" style="color: #FFDC3D">
                                            <ul id="changeNumber1">
                                                <li>636,282</li>
                                                <li>646,576</li>
                                                <li>656,092</li>
                                                <li>738,137</li>
                                                <li>697,101</li>
                                                <li>891,366</li>
                                                <li>1,084,594</li>
                                                <li>876,661</li>
                                                <li>1,037,942</li>
                                                <li>644,361</li>
                                                <li>629,065</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-cell-r">
                            <div class="chart-wrapper">
                                <div class="chart-div  chart-div-bg">
                                    <div class="chart-loader">
                                        <div class="textSpan">收藏</div>
                                        <div class="numberSpan" style="color: #F490B2">
                                            <ul id="changeNumber2">
                                                <li>22,046</li>
                                                <li>21,553</li>
                                                <li>21,459</li>
                                                <li>24,105</li>
                                                <li>21,925</li>
                                                <li>28,696</li>
                                                <li>29,445</li>
                                                <li>25,458</li>
                                                <li>27,625</li>
                                                <li>20,647</li>
                                                <li>20,445</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex-row" style="height: 180px">
                        <div class="flex-cell-l">
                            <div class="chart-wrapper">
                                <div class="chart-div  chart-div-bg">
                                    <div class="chart-loader">
                                        <div class="textSpan">加入购物车</div>
                                        <div class="numberSpan" style="color: #99D44D">
                                            <ul id="changeNumber3">
                                                <li>58,829</li>
                                                <li>59,921</li>
                                                <li>61,734</li>
                                                <li>72,209</li>
                                                <li>68,420</li>
                                                <li>97,355</li>
                                                <li>135,711</li>
                                                <li>100,733</li>
                                                <li>128,266</li>
                                                <li>61,264</li>
                                                <li>61,720</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-cell-r">
                            <div class="chart-wrapper">
                                <div class="chart-div  chart-div-bg">
                                    <div class="chart-loader">
                                        <div class="textSpan">购买</div>
                                        <div class="numberSpan" style="color: #00A9E4">
                                            <ul id="changeNumber4">
                                                <li>15,757</li>
                                                <li>16,051</li>
                                                <li>16,765</li>
                                                <li>12,241</li>
                                                <li>10,602</li>
                                                <li>9,674</li>
                                                <li>79,593</li>
                                                <li>32,242</li>
                                                <li>61,809</li>
                                                <li>17,220</li>
                                                <li>19,303</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-cell flex-cell-r">
                    <div class="chart-wrapper">

                        <div class="chart-div  chart-div-bg" style="height: 333px">
                            <div class="chart-title"  style="margin-top: -22px"><a href="user/" class="page_a">用户画像</a></div>
                            <div class="chart-loader" id="rGraph">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-row">
                <div class="flex-cell flex-cell-lc">
                    <div class="chart-wrapper">
                        <div class="chart-div  chart-div-bg">
                            <div class="chart-title"  style="margin-top: -22px"><a href="user/" class="page_a">用户每天行为变化</a></div>
                            <div class="chart-loader" id="lcGraph">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-cell flex-cell-r">
                    <div class="chart-wrapper">
                        <div class="chart-div  chart-div-bg">
                            <div class="chart-title"  style="margin-top: -22px"><a href="item/" class="page_a">商品推荐</a></div>
                            <div class="chart-loader" id="lrGraph">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>